<div class="header-wrp">
  <div class="header-content">
    <div class="header-content title" [routerLink]="['/']">
      <img src="favicon.ico" />
        Auction пафосна назва
    </div>
  </div>
  <div class="header-content">
     Тут шось буде піздате
  </div>
  <div class="header-content">

    <div class="login-block" *ngIf = "!isAuthorized">
      <button class="authorize-btn" [routerLink]="['/auth']">Authorize</button>
    </div>

    <div class="account-block"  (click)="toggleList()" *ngIf="isAuthorized">
      <div class="avatar">
        <img src="favicon.ico" alt="User Avatar">
      </div>
      <div class="user-info">
        <p>User Name</p>
      </div>
      <button class="toggle-btn" id="toggleListBtn" [class.open]="isListVisible">
        <span>▼</span>
      </button>
      <div class="account-list" *ngIf="isListVisible" (mouseleave)="hideList()">
        <ul class="element-list" id="elementList">
          <li>Log Out</li>
          <li>Account Information</li>
        </ul>
      </div>
    </div>
  </div>
</div>

