<div class="header-wrp">
  <div class="header-content">
    <div class="header-content title" [routerLink]="['/']">
      <img src="favicon.ico" />
        Auction пафосна назва
    </div>
  </div>
  <div class="header-content">
     Тут шось буде піздате
  </div>
  <div class="header-content">
    <div class="account-block">
      <div class="avatar">
        <img src="favicon.ico" alt="User Avatar">
      </div>
      <div class="user-info">
        <p>User Name</p>
      </div>
      <button class="toggle-btn" id="toggleListBtn">Show List</button>
    </div>
    <div class="account-list">
      <ul class="element-list" id="elementList">
        <li>Option 1</li>
        <li>Option 2</li>
        <li>Option 3</li>
      </ul>
    </div>
  </div>
</div>

