<div class="main-content" fxLayout="column" fxLayoutGap="20px">
  <div class="info-panel">
    <div class="info-panel title">Welcome to our youth Ukrainian auction platform! Here, we bring together talented young individuals for the sale of not just cool items but also the talented ideas of their creators. A portion of the proceeds from profits goes to support the Armed Forces of Ukraine.</div>
    <div class="info-panel desc">
      <div class="info-panel title">Here you can find something interesting even more easily!</div>

      <form class="search-area" [formGroup]="productFilterForm" (ngSubmit)="submitForm()">
        <input class="search-field" placeholder="Search by Title" formControlName="Title">

        <div class="filter-field">
          Auction state:
          <select formControlName="State">
            <option *ngFor="let state of states" [value]="state">{{ state }}</option>
          </select>
        </div>

        <div class="filter-field">
          Order by:
          <select formControlName="OrderBy">
            <option *ngFor="let order of orderBy" [value]="order">{{ order }}</option>
          </select>
        </div>

        <div class="checkbox-container">
          <label class="checkbox">
            <input type="checkbox" formControlName="OnlyWithMyBids">
            <div class="checkmark"></div>
          </label>
          <span>Only with my Bids</span>
        </div>

        <button class="submit-button" type="submit">Submit</button>
      </form>


    </div>
  </div>

  <div class="product-grid">
    <div *ngFor="let product of getCurrentPageProducts()" class="product-card">
      <img [src]="product.imageLinks" alt="Product Image" class="product-image">
      <div class="product-details">
        <div class="product-title">{{ product.title }}</div>
        <div class="product-price">Price: ${{ product.price }}</div>
        <div class="product-status">Status: {{ ProductStatus[product.status] }}</div>
        <div class="product-end-date" *ngIf="product.endDate">End Date: {{ product.endDate | date }}</div>
        <button mat-button color="primary" class="look-button">Look At</button>
        <div fxLayout="row" fxLayoutGap="8px" class="bid-section">
          <input matInput placeholder="Enter your bid" class="bid-input">
          <button mat-raised-button class="bid-button">Fast Bid</button>
        </div>
      </div>
    </div>
  </div>
  <div class="custom-paginator">
    <button (click)="prevPage()" [disabled]="productsData.page === 1">&lt; Prev</button>
    <span>{{ productsData.page }} / {{ getTotalPages() }}</span>
    <button (click)="nextPage()" [disabled]="productsData.page === getTotalPages()">Next &gt;</button>
  </div>
</div>
