<div *ngIf="product" class="wrapper">
    <div class="image-wrapper">
      <img [src]="product.imageLinks" alt="" class="image-product">
    </div>
    <div class="product-info-wrapper">
        <div class="current-bid">
            <p>{{ product.price | currency: 'UAH' }}</p>
            <p class="current-bid-text">Current bid</p>
        </div>
        <div class="current-product">
            <div class="title-wrapper">
                <h3>{{ product.title }}</h3>
                <button *ngIf="isSeller" class="edit-button" [routerLink]="['/product', product.id, 'edit']">
                    Edit product
                </button>
            </div>
            <div>
                <ul>
                    <li *ngIf="product.description != null">{{ product.description }}</li>
                    <li *ngIf="product.endDate != null">{{  product.endDate }}</li>
                </ul>
            </div>

            <div class="seller-info">
                <div>
                    <span class="prop-name">Seller</span>

                    <span>
                        {{ product.seller?.firstName }}
                        {{ product.seller?.lastName }}
                    </span>
                </div>
                <div>
                    <span class="prop-name">Contact</span>

                    <span>
                        {{ product.seller?.email }}
                        {{ product.seller?.phone }}
                    </span>
                </div>
            </div>

            <form (submit)="submitForm($event)" [formGroup]="bidForm">
                <input
                    class="input"
                    placeholder="Enter the bid amount"
                    type="text"
                    formControlName="bid"
                    inputmode="numeric"
                    pattern="[0-9]*"
                    [readonly]="isSeller || !isAuth"
                    [disabled]="isSeller || !isAuth" />

                <input
                    class="button"
                    type="submit"
                    value="+ Place Bid"
                    [disabled]="isSeller || !isAuth || !bidForm.value.bid?.length" />
            </form>
        </div>
    </div>
</div>
<div class="wrapper">
  <div class="block-info-wrapper large">
    <div *ngFor="let bid of product.bids?.reverse()" class="bid-card">
      <div class="bidder-info">
        <div class="bidder-name">{{ bid.bidder.email}}</div>
        <div class="bid-price">
          {{ bid.price | currency: 'UAH' }}
        </div>
      </div>
    </div>
  </div>
  <div class="block-info-wrapper">
    <div *ngFor="let user of product.users?.reverse()" class="bid-card">
      <div class="bidder-info">
        <div class="email">{{user.email}}</div>
        <div class="max-bid">Max Bid: {{user.maxBid}}</div>
        <div class="bid-count">Bid count: {{user.bidCount}}</div>
      </div>
    </div>
  </div>
</div>
