<app-header></app-header>
<main>
  <div class="avatar">
    <img src="{{avatarUrl}}" alt="avatar" class="main-image">
    <div class="img-container bin" *ngIf="user.avatarUrl" (click)="deletePhoto()">
      <img src="assets/images/avatar/bin.svg" class="img-button" alt="bin">
    </div>
    <label for="fileInput" class="img-container camera">
      <img src="assets/images/avatar/camera.svg" class="img-button" alt="camera">
      <input id="fileInput" type="file" style="display: none;" (change)="changeAvatar($event)" accept="image/*">
    </label>
  </div>
  <form (submit)="submitForm($event)" [formGroup]="updateForm">
    <div>
      <input placeholder="First Name" formControlName="firstName">
      <app-error *ngIf="firstNameError" [text]="firstNameError"></app-error>
    </div>
    <div>
      <input placeholder="Last Name" formControlName="lastName">
      <app-error *ngIf="lastNameError" [text]="lastNameError"></app-error>
    </div>
    <div>
      <input placeholder="Email" type="email" formControlName="email">
      <app-error *ngIf="emailError" [text]="emailError"></app-error>
    </div>
    <div>
      <input placeholder="Mobile Phone" type="tel" formControlName="mobilePhone">
      <app-error *ngIf="mobilePhoneError" [text]="mobilePhoneError"></app-error>
    </div>
    <div class="buttons">
      <input type="button" value="Delete Account" (click)="deleteAccount()">
      <input type="submit" value="Save">
    </div>
  </form>
</main>
