$green-100: #778684;
$green-200: #2C4340;

$yellow-100: #F1B313;
$yellow-200: #FFB800;

$gray-100: #F5F5F5;
$gray-200: #DFDFDF;
$gray-300: #6A6C6D;

$black-100: #2F2F2F;

$white-100: #FFFFFF;
$white-200: #f4f4f4;

$red-100: #E81414;
