<form [formGroup]="createProductForm" (ngSubmit)="submitForm()">
    <label for="title">Title:</label>
    <input type="text" id="title" formControlName="title" required />

    <label for="description">Description:</label>
    <textarea id="description" formControlName="description" required></textarea>

    <label for="minimalBid">Minimal Bid:</label>
    <input type="number" id="minimalBid" formControlName="minimalBid" />

    <label>Image</label>
    <img src="{{imageUrl}}" alt="Product" class="product-image">
    <label for="fileInput" class="file-chooser">
      <div class="file-chooser-div">Choose a file</div>
      <input id="fileInput" type="file" style="display: none;" (change)="addProductPhoto($event)" accept="image/*">
    </label>

    <label for="endDate">End Date:</label>
    <input type="date" id="endDate" formControlName="endDate" />

    <button type="submit">Create Product</button>
</form>
