@import "src/styles/colors";
@import "src/styles/fonts";

div{
  margin: 0 20px;
  display: flex;
  color: $red-100;
}

img{
  margin-right: 5px;
}

span{
  max-width: 200px;
  @include caption-font;
}
